body{
  background :#4d4d4d;
  color :white;
}
.todo{
	height:5vh;
	width:80vw;
	background:#4d4d4d;
	box-shadow:0 0 10px black;
	border-radius:6px;
	margin:2vh 0 2vh 2vw;
	padding:2vh 0 1vh 2vw;
	float:left;
}
.checkbox{
	height:5vh;
	width:4vw;
	background:#4d4d4d;
	text-align: center;
	box-shadow:0 0 10px black;
	border-radius:6px;
	margin:2vh 0 2vh 2vw;
	padding:2vh 0 1vh 0;
	float:left;
}